<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="setActive(0)">List</a>
    </li>
    <li *ngIf="checkLogin()" class="nav-item">
      <a class="nav-link" href="#" (click)="setActive(1)">Create</a>
    </li>
  </ul>
  <div class="container">
    <div *ngIf="active===0">
      <ul>
        <li style="text-align: left" *ngFor="let conference of conferences"><a href="#" (click)="showConference(conference)">{{ conference.title }}</a></li>
      </ul>
      <div *ngIf="currentConference !== null">
        <h1>Conference Details</h1>
        <div class="row">
          <div class="col-sm">Title</div>
          <div class="col-sm">Date</div>
          <div class="col-sm">Ticket Cost</div>
        </div>
        <div class="row">
          <div class="col-sm">{{ currentConference.title }}</div>
          <div class="col-sm">{{ currentConference.date }}</div>
          <div class="col-sm">${{ currentConference.ticketCost }}</div>
        </div>
      </div>
    </div>
    <form *ngIf="active===1" #conferenceForm="ngForm">
        <div class="form-group">
            <input type="text" class="form-control" name="title" [(ngModel)]="conferenceModel.title" placeholder="Title">
          </div>
          <div class="form-group">
            <input type="date" class="form-control" name="date" [(ngModel)]="conferenceModel.date" placeholder="Date">
          </div>
          <input type="text" class="form-control" name="ticketcost" [(ngModel)]="conferenceModel.ticketcost" placeholder="Ticket Cost">
          <div class="form-group">
            <button class="btn" (click)="createConference(); conferenceForm.reset()">Register</button>
          </div>
    </form>
  </div>
